@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.filmContainer {
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
}

video {
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
} */

span {
    z-index: 1;
    position: absolute;
    top: 15%;
    bottom: 10%;
    left: 68%;
    font-family: 'Lexend';
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 195px;
}

        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px){
            .filmContainer {
               
                height: 95vh;
                padding: 0;
                margin: 0.4em auto;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }