@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.titleContainer h2 {
    display: flex;
    justify-content: center;
    font-family: 'Lexend';
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.carouselContainer {
    display: flex;
    align-items: center;
}

.arrow {
    padding: 1em;
}

.aboutInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.aboutInfo p {
    text-align: left;
    font-family: 'Lexend';
    font-size: 16px;
    padding: 1em;
    width: 200px;
}

.aboutContainer a {
    border-radius: 15px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    font-family: 'Lexend';
    padding: 1em;
    color: white;
    background: rgb(30,17,34);
    background: linear-gradient(140deg, rgba(30,17,34,1) 0%, rgba(39,15,29,0.9166520365168539) 76%);
}

.aboutContainer a:hover {
    cursor: pointer;
}

        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px){
            .titleContainer{
                display: none;
                padding: 1em;
            }

        }

