@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: black;
}
.logoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-family: 'Lexend';
    font-size: 32px;
    font-weight: 700;
    padding: .5em;
    text-transform: uppercase;
    text-align: 100px;  
}

.logo img {
    width: 6em;
}


.bars {
    color: white;
    -webkit-text-stroke: 2px white;
}

.linkContainer {
    display: none;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
}

.link {
    color: white;
    font-family: 'Lexend';
    font-weight: 400;
    text-transform: uppercase;
}

.white-background .logo{
    color: black;
}

.white-background .link{
    color: black;
}


        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px){
            .mainContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                color: black;
            }
            .linkContainer{
                display: flex;
                padding: 1em;
            }

            .bars {
                display: none;
            }
        }